# .env
elasticsearch
kibana
kibanadata
certs
nifi/content_repository
nifi/database_repository
nifi/provenance_repository
nifi/logs
nifi/provenance_repository
nifi/state
nifi/conf/archive
nifi_registry
nifi_storage
templates_nifi
openmetadata
Toronto
stops.py
stops
nifi/certs
nifi/conf/nifi-cert.pem
nifi/conf/truststore.p12
nifi/conf/keystore.p12
