elasticsearch/*
!elasticsearch/.gitkeep
kibana/*
!kibana/.gitkeep
certs/*
!certs/.gitkeep
# nifi/content_repository
# nifi/database_repository
# nifi/provenance_repository
# nifi/logs
# nifi/provenance_repository
# nifi/state
# nifi/conf/archive
# nifi/lib
# nifi/certs
# nifi/conf

# Ignora todo dentro de nifi
nifi/*

# ¡Pero conserva todo lo de conf!
!nifi/conf/
!nifi/conf/**

# Ignora el contenido de archive
nifi/conf/archive/*

# Pero conserva la carpeta archive vacía (con .gitkeep)
!nifi/conf/archive/.gitkeep


!nifi/generate_certs.sh
!nifi/Dockerfile
nifi_registry
nifi_storage
templates_nifi
openmetadata/certs_elastic
openmetadata/docker-volume
Toronto
stops.py
AML_simplified_states-all.csv
docker-compose-atlas.yaml
frontend
HTTP

ollama/Modelfiles


